<!DOCTYPE HTML>

<html>
	<head>
		<title>PRISTINE</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="{{ url_for('login') }}" class="logo" style="color:White;font-size:20px;background-color:#3D85C6" >  Create my susceptibility report  </a>
					<nav id="nav">
						<a href="{{ url_for('index') }}" style="color:White;font-size:20px;background-color:DimGray" >Home</a>
						<a href="{{ url_for('our_technology') }}" style="color:White;font-size:20px;background-color:DimGray" >Our technology</a>
						<a href="{{ url_for('explore_infectious_diseases') }}" style="color:White;font-size:20px;background-color:DimGray" >Explore infectious diseases</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

			<!-- Banner -->
				<section id="banner" style="background-image: url({{ url_for('static', filename='images/banner.jpg') }})">
					<center>
						<h1 style="color:White;font-size:100px;background-color:DimGray;" >PRISTINE</h1>
		        <p style="color:White;font-size:30px;background-color:DimGray" >Predicting your susceptibility to infectious diseases</p>
					</center>
				</section>


      <pre style="color:White;font-size:30px;background-color:DimGray" >
     Cold sores</pre>
<pre style="color:DimGray;font-size:30px" >
    Overview</pre>
<pre style="color:DimGray;font-size:20px" >
	Cold sores — also called fever blisters — are a common viral infection. They are tiny, fluid-filled blisters on and around your lips.
	These blisters are often grouped together in patches. After the blisters break, a scab forms that can last several days. Cold sores
	usually heal in two to three weeks without leaving a scar.</pre>

<pre style="color:DimGray;font-size:30px" >
    Symptoms</pre>

<pre style="color:DimGray;font-size:20px" >
	Tingling and itching. Many people feel itching, burning or tingling around the lips for a day or so before a small, hard, painful
	spot appears and blisters erupt.

	Blisters. Small fluid-filled blisters typically erupt along the border of your lips. Sometimes they appear around the nose or cheeks
	or inside the mouth.

	Oozing and crusting. The small blisters may merge and then burst, leaving shallow open sores that ooze and crust over.

</pre>

<pre style="color:DimGray;font-size:20px" >
	Signs and symptoms vary, depending on whether this is your first outbreak or a recurrence. The first time you have a cold sore,
	symptoms may not start for up to 20 days after you were first exposed to the virus. The sores can last several days, and the
	blisters can take two to three weeks to heal completely. Recurrences typically appear at the same spot each time and tend to be
	less severe than the first outbreak.</pre>

<pre style="color:DimGray;font-size:30px" >
    Causes</pre>

<pre style="color:DimGray;font-size:20px" >
	Cold sores are caused by certain strains of the herpes simplex virus (HSV). HSV-1 usually causes cold sores. HSV-2 is usually
	responsible for genital herpes. But either type can spread to the face or genitals through close contact, such as kissing or
	oral sex. Shared eating utensils, razors and towels might also spread HSV-1.</pre>

<pre style="color:DimGray;font-size:30px" >
    Risk factors</pre>

<pre style="color:DimGray;font-size:20px" >
	Almost everyone is at risk of cold sores. Most adults carry the virus that causes cold sores, even if they've never had symptoms.
	You're most at risk of complications from the virus if you have a weakened immune system from conditions and treatments</pre>



<a href="https://www.mayoclinic.org/diseases-conditions/cold-sore/symptoms-causes/syc-20371017" class="button special" >Cold sores reference</a>

        <pre style="color:DimGray;font-size:20px" >
        <strong>DISCLAIMER</strong>
        The outputs of this pipeline are BIOINFORMATIC INFERENCES and are not experimentally validated. These results do not confirm
        that you will have increased or decreased susceptibility but rather provide insight of the possibility. Please consult health
        professionals regarding your susceptibility to different pathogens. </pre>
