<!DOCTYPE HTML>

<html>
	<head>
		<title>PRISTINE</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="{{ url_for('login') }}" class="logo" style="color:White;font-size:20px;background-color:#3D85C6" >  Create my susceptibility report  </a>
					<nav id="nav">
						<a href="{{ url_for('index') }}" style="color:White;font-size:20px;background-color:DimGray" >Home</a>
						<a href="{{ url_for('our_technology') }}" style="color:White;font-size:20px;background-color:DimGray" >Our technology</a>
						<a href="{{ url_for('explore_infectious_diseases') }}" style="color:White;font-size:20px;background-color:DimGray" >Explore infectious diseases</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

			<!-- Banner -->
				<section id="banner" style="background-image: url({{ url_for('static', filename='images/banner.jpg') }})">
					<center>
						<h1 style="color:White;font-size:100px;background-color:DimGray;" >PRISTINE</h1>
		        <p style="color:White;font-size:30px;background-color:DimGray" >Predicting your susceptibility to infectious diseases</p>
					</center>
				</section>


      <pre style="color:White;font-size:30px;background-color:DimGray" >
     Intestinal parasites</pre>
<pre style="color:DimGray;font-size:30px" >
    Overview</pre>
<pre style="color:DimGray;font-size:20px" >
	Giardia infection is an intestinal infection marked by stomach cramps, bloating, nausea and bouts of watery diarrhea. Giardia
	infection is caused by a microscopic parasite that is found worldwide, especially in areas with poor sanitation and unsafe water.</pre>

<pre style="color:DimGray;font-size:30px" >
    Symptoms</pre>

<pre style="color:DimGray;font-size:20px" >
	Watery, sometimes foul-smelling diarrhea that may alternate with soft, greasy stools, fatigue, stomach cramps and bloating, gas,
	nausea, and weight loss</pre>

<pre style="color:DimGray;font-size:30px" >
    Causes</pre>

<pre style="color:DimGray;font-size:20px" >
	Giardia parasites live in the intestines of people and animals. Before the microscopic parasites are passed in stool, they become
	encased within hard shells called cysts, which allows them to survive outside the intestines for months. Once inside a host, the
	cysts dissolve and the parasites are released.</pre>

<pre style="color:DimGray;font-size:30px" >
    Risk factors</pre>

<pre style="color:DimGray;font-size:20px" >
	Children, people without access to clean drinking water, and men who have sex with men.</pre>

<a href="https://www.mayoclinic.org/diseases-conditions/giardia-infection/symptoms-causes/syc-20372786" class="button special" >Intestinal parasites reference</a>

        <pre style="color:DimGray;font-size:20px" >
        <strong>DISCLAIMER</strong>
        The outputs of this pipeline are BIOINFORMATIC INFERENCES and are not experimentally validated. These results do not confirm
        that you will have increased or decreased susceptibility but rather provide insight of the possibility. Please consult health
        professionals regarding your susceptibility to different pathogens. </pre>
