<!DOCTYPE HTML>

<html>
	<head>
		<title>PRISTINE</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="{{ url_for('login') }}" class="logo" style="color:White;font-size:20px;background-color:#3D85C6" >  Create my susceptibility report  </a>
					<nav id="nav">
						<a href="{{ url_for('index') }}" style="color:White;font-size:20px;background-color:DimGray" >Home</a>
						<a href="{{ url_for('our_technology') }}" style="color:White;font-size:20px;background-color:DimGray" >Our technology</a>
						<a href="{{ url_for('explore_infectious_diseases') }}" style="color:White;font-size:20px;background-color:DimGray" >Explore infectious diseases</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

			<!-- Banner -->
				<section id="banner" style="background-image: url({{ url_for('static', filename='images/banner.jpg') }})">
					<center>
						<h1 style="color:White;font-size:100px;background-color:DimGray;" >PRISTINE</h1>
		        <p style="color:White;font-size:30px;background-color:DimGray" >Predicting your susceptibility to infectious diseases</p>
					</center>
				</section>


      <pre style="color:White;font-size:30px;background-color:DimGray" >
     Rheumatic fever</pre>
<pre style="color:DimGray;font-size:30px" >
    Overview</pre>
<pre style="color:DimGray;font-size:20px" >
	Rheumatic fever is an inflammatory disease that can develop when strep throat or scarlet fever isn't properly treated.
	Strep throat and scarlet fever are caused by an infection with streptococcus bacteria.</pre>

<pre style="color:DimGray;font-size:30px" >
    Symptoms</pre>

<pre style="color:DimGray;font-size:20px" >
	Fever, painful and tender joints — most often in the knees, ankles, elbows and wrists, pain in one joint that migrates to
	another joint, red, hot or swollen joints, small, painless bumps beneath the skin, chest pain, heart murmur, fatigue,
	Flat or slightly raised, painless rash with a ragged edge, Jerky, uncontrollable body movements (Sydenham chorea) —
	most often in the hands, feet and face, outbursts of unusual behavior, such as crying or inappropriate laughing,
	that accompanies Sydenham chorea</pre>

<pre style="color:DimGray;font-size:30px" >
    Causes</pre>

<pre style="color:DimGray;font-size:20px" >
	Rheumatic fever can occur after a throat infection from a bacteria called group A streptococcus. Group A streptococcus
	infections of the throat cause strep throat or, less commonly, scarlet fever.</pre>

<pre style="color:DimGray;font-size:30px" >
    Risk factors</pre>

<pre style="color:DimGray;font-size:20px" >
	Family history, type of strep bacteria, and environmental factors.</pre>

<a href="https://www.mayoclinic.org/diseases-conditions/rheumatic-fever/symptoms-causes/syc-20354588" class="button special" >Rheumatic fever</a>

        <pre style="color:DimGray;font-size:20px" >
        <strong>DISCLAIMER</strong>
        The outputs of this pipeline are BIOINFORMATIC INFERENCES and are not experimentally validated. These results do not confirm
        that you will have increased or decreased susceptibility but rather provide insight of the possibility. Please consult health
        professionals regarding your susceptibility to different pathogens. </pre>
