<!DOCTYPE HTML>

<html>
	<head>
		<title>PRISTINE</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="{{ url_for('login') }}" class="logo" style="color:White;font-size:20px;background-color:#3D85C6" >  Create my susceptibility report  </a>
					<nav id="nav">
						<a href="{{ url_for('index') }}" style="color:White;font-size:20px;background-color:DimGray" >Home</a>
						<a href="{{ url_for('our_technology') }}" style="color:White;font-size:20px;background-color:DimGray" >Our technology</a>
						<a href="{{ url_for('explore_infectious_diseases') }}" style="color:White;font-size:20px;background-color:DimGray" >Explore infectious diseases</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

			<!-- Banner -->
				<section id="banner" style="background-image: url({{ url_for('static', filename='images/banner.jpg') }})">
					<center>
						<h1 style="color:White;font-size:100px;background-color:DimGray;" >PRISTINE</h1>
		        <p style="color:White;font-size:30px;background-color:DimGray" >Predicting your susceptibility to infectious diseases</p>
					</center>
				</section>


      <pre style="color:White;font-size:30px;background-color:DimGray" >
     Scarlet fever</pre>
<pre style="color:DimGray;font-size:30px" >
    Overview</pre>
<pre style="color:DimGray;font-size:20px" >
	Scarlet fever is a bacterial illness that develops in some people who have strep throat. Also known as scarlatina, scarlet
	fever features a bright red rash that covers most of the body. Scarlet fever is almost always accompanied by a sore throat
	and a high fever.</pre>

<pre style="color:DimGray;font-size:30px" >
    Symptoms</pre>

<pre style="color:DimGray;font-size:20px" >
	Red rash, red lines, flushed face, strawberry tongue.</pre>

<pre style="color:DimGray;font-size:30px" >
    Causes</pre>

<pre style="color:DimGray;font-size:20px" >
	Scarlet fever is caused by the same type of bacteria that cause strep throat. In scarlet fever, the bacteria release a
	toxin that produces the rash and red tongue.</pre>

<pre style="color:DimGray;font-size:30px" >
    Risk factors</pre>

<pre style="color:DimGray;font-size:20px" >
	Children 5 to 15 years of age are more likely than are other people to get scarlet fever. Scarlet fever germs spread
	more easily among people in close contact, such as family members or classmates.</pre>

<a href="https://www.mayoclinic.org/diseases-conditions/scarlet-fever/symptoms-causes/syc-20377406" class="button special" >Scarlet fever reference</a>

        <pre style="color:DimGray;font-size:20px" >
        <strong>DISCLAIMER</strong>
        The outputs of this pipeline are BIOINFORMATIC INFERENCES and are not experimentally validated. These results do not confirm
        that you will have increased or decreased susceptibility but rather provide insight of the possibility. Please consult health
        professionals regarding your susceptibility to different pathogens. </pre>
