<!DOCTYPE HTML>

<html>
	<head>
		<title>PRISTINE</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="{{ url_for('login') }}" class="logo" style="color:White;font-size:20px;background-color:#3D85C6" >  Create my susceptibility report  </a>
					<nav id="nav">
						<a href="{{ url_for('index') }}" style="color:White;font-size:20px;background-color:DimGray" >Home</a>
						<a href="{{ url_for('our_technology') }}" style="color:White;font-size:20px;background-color:DimGray" >Our technology</a>
						<a href="{{ url_for('explore_infectious_diseases') }}" style="color:White;font-size:20px;background-color:DimGray" >Explore infectious diseases</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

			<!-- Banner -->
				<section id="banner" style="background-image: url({{ url_for('static', filename='images/banner.jpg') }})">
					<center>
						<h1 style="color:White;font-size:100px;background-color:DimGray;" >PRISTINE</h1>
		        <p style="color:White;font-size:30px;background-color:DimGray" >Predicting your susceptibility to infectious diseases</p>
					</center>
				</section>


      <pre style="color:White;font-size:30px;background-color:DimGray" >
     Tuberculosis</pre>
<pre style="color:DimGray;font-size:30px" >
    Overview</pre>
<pre style="color:DimGray;font-size:20px" >
	Tuberculosis (TB) is a potentially serious infectious disease that mainly affects your lungs. The bacteria that cause tuberculosis
	are spread from one person to another through tiny droplets released into the air via coughs and sneezes.</pre>

<pre style="color:DimGray;font-size:30px" >
    Symptoms</pre>

<pre style="color:DimGray;font-size:20px" >
	Coughing that lasts three or more weeks, coughing up blood, chest pain, or pain with breathing or coughing, unintentional weight loss,
	fatigue, fever, night sweats, chills, loss of appetite</pre>

<pre style="color:DimGray;font-size:30px" >
    Causes</pre>

<pre style="color:DimGray;font-size:20px" >
	Tuberculosis is caused by bacteria that spread from person to person through microscopic droplets released into the air.
	This can happen when someone with the untreated, active form of tuberculosis coughs, speaks, sneezes, spits, laughs or sings.</pre>

<pre style="color:DimGray;font-size:30px" >
    Risk factors</pre>

<pre style="color:DimGray;font-size:20px" >
	Weakened immune system, traveling/living in certain areas, poverty and substance abuse, where you work/live</pre>

<a href="https://www.mayoclinic.org/diseases-conditions/tuberculosis/symptoms-causes/syc-20351250" class="button special" >Tuberculosis reference</a>


        <pre style="color:DimGray;font-size:20px" >
        <strong>DISCLAIMER</strong>
        The outputs of this pipeline are BIOINFORMATIC INFERENCES and are not experimentally validated. These results do not confirm
        that you will have increased or decreased susceptibility but rather provide insight of the possibility. Please consult health
        professionals regarding your susceptibility to different pathogens. </pre>
